<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdpd">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SDPD">
        <activity
            android:name=".Locations"
            android:exported="true"
            android:parentActivityName=".Lab_4"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Food_Categories"
            android:exported="true"
            android:parentActivityName=".Lab_4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Preview"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Drinks_Categories"
            android:exported="true"
            android:parentActivityName=".Lab_4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Lab_4"
            android:exported="true"
            android:parentActivityName=".Lab_3_2"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Lab_3_2"
            android:exported="true"
            android:parentActivityName=".Lab_3_1_a"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Lab_3_1_b"
            android:exported="true"
            android:parentActivityName=".Lab_3_1_a"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Lab_3_1_a"
            android:exported="true"
            android:parentActivityName=".Lab_2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Lab_2"
            android:exported="true"
            android:parentActivityName=".Lab_1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Lab_1"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>